footer{
    height:200px;
    background-color: #cb3362;
}
footer>.foot{
    text-align: center;
}
footer>.foot>div>a{
    margin:10px;
}
.imgs{
    padding-top: 60px;
}
footer>.foot>div>p{
    padding-top:30px;
    font-size:12px;
    color:#eeebec;
}

