@import url(./fonts.css);
@import url(./components/header.css);
@import url(./components/banerHome.css);
@import url(./components/newproduct.css);
@import url(./components/panel.css);
@import url(./components/footer.css);
@import url(./components/AboutPage.css);
@import url(./components/ProductPage.css);
@import url(./components/BlogPage.css);


ul,ol,h1,h2,h3,h4,h5,h6,p,body{
    margin: 0;
    padding: 0;

}

ul, ol{
    list-style-type: none;

}
body{
    background-color: white;
}

.container-fluid{
    width: 100%;
    clear:both;
}

.container{
    margin: 0 auto;
    width: 960px;
}